@page "/"
@inject ThreeJsService threeJs
@inject IJSRuntime jsRuntime
<PageTitle>MiR Configurator</PageTitle>
<HeadContent>
    <script type="module" src="/js/threeJsInterop.js"></script>
</HeadContent>

<h1>MiR Configurator</h1>

<div class="row">
    <div class="col-md-6">
        <div id="canvasContainer"></div>
        <hr/>
        <div>
            <h2>Enter Box Dimensions</h2>
            <div>
                <label for="x">X-coordinate:</label>
                <input type="number" id="x" name="x" value="0" placeholder="Enter X-coordinate">
            </div>
            <div>
                <label for="y">Y-coordinate:</label>
                <input type="number" id="y" name="y" value="0" placeholder="Enter Y-coordinate">
            </div>
            <div>
                <label for="width">Width:</label>
                <input type="number" id="width" name="width" value="100" placeholder="Enter width">
            </div>
            <div>
                <label for="length">Length:</label>
                <input type="number" id="length" name="length" value="100" placeholder="Enter length">
            </div>
            <div>
                <label for="height">Height:</label>
                <input type="number" id="height" name="height" value="100" placeholder="Enter height">
            </div>
            <div>
                <label for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" value="100" placeholder="Enter weight">
            </div>
            <button class="btn btn-primary me-2" onclick="callAddBox()">Add Box</button>
            <button class="btn btn-danger" onclick="removeAll2DBoxes()">Remove all boxes</button>
        </div>
       
    </div>
    <div class="col-md-6">
        <div class="ThreeJsContainer" id="@ThreeJsContainerId">
            <!-- 3d Canvas will appear here -->
        </div>
        <hr/>
        <p>
            <b>License info:</b><br/>
            "Warehouse FBX Model Free" (<a href="https://skfb.ly/oVOIy">https://skfb.ly/oVOIy</a>) by Nicholas-3D is licensed under Creative Commons Attribution (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>).<br/>
            "MiR200" (<a href="https://grabcad.com/library/mir200-2">https://grabcad.com/library/mir200-2</a>) by tony ke is provided by the GRABCAD Community.
        </p>
    </div>
</div>


<script defer type="text/javascript" src="/js/sketch.js"></script>

@code {
    private const string ThreeJsContainerId = "3dContainer";

    private double XValue { get; set; } = 0d;
    private double YValue { get; set; } = 0d;
    private double ZValue { get; set; } = 0d;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("startP5Sketch");
            await threeJs.Initialize(ThreeJsContainerId);
        }
    }

}
